In [15]:
import datetime as dt
import numpy as np
import pandas as pd
import tensorflow as tf

from sklearn import preprocessing
from sklearn.cross_validation import train_test_split

In [16]:
data = pd.read_csv('data/preprocessed_data.csv')

data.head()

,rpt_month,rpt_day,occur_month,occur_day,occur_time,location,victims,day_of_week,crime,neighborhood
0,12,31,12,30,23.0,JESSE HILL JR DR NE,2.0,Sat,LARCENY-FROM VEHICLE,Downtown
1,12,31,12,18,13.0,ATLANTIC DR NW,1.0,Unk,LARCENY-FROM VEHICLE,Home Park
2,12,31,12,30,22.0,PRYOR ST SW,1.0,Sat,LARCENY-FROM VEHICLE,Mechanicsville
3,12,31,12,30,20.0,NELSON ST SW,1.0,Sat,LARCENY-FROM VEHICLE,Castleberry Hill
4,12,31,12,31,0.0,CASCADE RD SW,2.0,Sun,LARCENY-FROM VEHICLE,Adams Park

In [6]:
location_le = preprocessing.LabelEncoder()
crime_le = preprocessing.LabelEncoder()
neighborhood_le = preprocessing.LabelEncoder()
day_of_week_le = preprocessing.LabelEncoder()

location_le.fit(data.location.unique().tolist())
crime_le.fit(data.crime.unique().tolist())
neighborhood_le.fit(data.neighborhood.unique().tolist())
day_of_week_le.fit(data.day_of_week.unique().tolist())

data.location = location_le.transform(data.location.tolist())
data.crime = crime_le.transform(data.crime.tolist())
data.neighborhood = neighborhood_le.transform(data.neighborhood.tolist())
data.day_of_week = day_of_week_le.transform(data.day_of_week.tolist())

data.victims = data.victims.fillna(0)

In [7]:
X = data.drop(['crime'], axis=1)
y = data['crime']

In [39]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 4)